# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. SQL
2. Python
3. R

**Objectives:**
- List popular languages for Data Science
- List commonly used libraries 
- Display arithmetic using python

Some of the commonly used libraries used by Data Scientist include:
1. Pandas
2. NumPy
3. Scikit-Learn

|Data Science Tools                        |
---------------------------------------
| Watson Studio |
| Apache Spark |
| R Studios |

### Below are a few examples of evalulating arithmetic expressions in python

In [2]:
(3*4)+5

17

In [6]:
200/60
# 200 is being divided by 60 to give the number of hours

3.3333333333333335

## Author
Derek